.todos {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.todo {
    background-color: rgb(27, 53, 255);
    color: white;
    padding: 5px;
    border-radius: 20%;
    margin-left: 3%;
}

.deleteBtn {
    margin-left: 3px;
    background-color: rgb(27, 53, 255);
    color: red;
    border: 1px solid rgb(27, 53, 255);
    cursor: pointer;
}